<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.npnc.smartphonehelper">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartphoneHelper"
        tools:targetApi="31">
        <activity
            android:name="com.npnc.smartphonehelper.PlayStore4Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.PlayStore3Activity"/>
        <activity
            android:name="com.npnc.smartphonehelper.PlayStore3Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.PlayStore2Activity"/>
        <activity
            android:name="com.npnc.smartphonehelper.PlayStore2Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.PlayStoreActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.PlayStoreActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeVideoActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeMainActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeSearchActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeMainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeShareActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeMenuActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.GalleryShareActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.Gallery3Activity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeKakao1Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeShareActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeKakao2Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeKakao1Activity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeKakao3Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeKakao2Activity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeMenuActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.YoutubeMainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.YoutubeMainActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.Gallery3Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.Gallery2Activity" />
        <activity
            android:name="com.npnc.smartphonehelper.Gallery2Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.GalleryActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.GalleryActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.VC_OnThePhoneCallActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.VC_MakingCallActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_OnThePhoneCallActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_MakingCallActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_RecentCallActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_PhoneBookActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_PhoneBook_SearchActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_PhoneBook_Search2Activity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.C_PhoneBookAddActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.CallActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.CallActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.MessageActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.CameraActivity"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.Helper"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.Helper2"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.Helper" />
        <activity
            android:name="com.npnc.smartphonehelper.KakaoMain"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity" />
        <activity
            android:name="com.npnc.smartphonehelper.KakaoProfile"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.KakaoMain"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoMessage1"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.KakaoMain"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoMessage2"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.KakaoMain"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoMessage3"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoPhoto1"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.KakaoMain"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoPhoto2"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.KakaoPhoto1"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoPhoto3"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.KakaoPhoto2"/>
        <activity
            android:name="com.npnc.smartphonehelper.KakaoPhoto4"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.MessageWrite"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity"/>
        <activity
            android:name="com.npnc.smartphonehelper.MessageSend"
            android:exported="false"
            android:parentActivityName="com.npnc.smartphonehelper.MainActivity"/>

        <activity
            android:name="com.npnc.smartphonehelper.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>